body{
  background-color: rgb(0, 0, 0);
}

.container {
  text-align: center;
  margin-top: 2rem;
  padding: 0 3%;
}

.head{
  font-size: 45px;
  text-decoration: underline;
  color: #b0b0b5 ;
  text-decoration-color: rgb(247, 248, 250);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  margin: 3px 0;
  background-color: #b0b0b5;
  color: black;
  font-weight: 600;
}